@import "normalize";
@import "main";
@import "variables";
@import "typography";

.container {
	margin: 0 auto;
	padding: 1rem;
	@include for-tablet-portrait-up {
		max-width: 704px;
	}
	@include for-tablet-landscape-up {
		max-width: 948px;
	}
	@include for-desktop-up {
		max-width: 1248px;
	}
	@include for-big-desktop-up {
		max-width: 1600px;
	}
}

nav {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
	}
}

.banner {
	position: relative;
	z-index: 100;
	&__container {
		display: flex;
		align-items: center;
		justify-content: end;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		height: 2px;
		@include gradient;
	}
	@include for-desktop-up {
		position: fixed;
		width: 100%;
		background: #fff;
		top: 0;
	}
}

.logo {
	width: 100px;
	@include transition;
	&__container {
		margin-right: auto;
	}
	@include for-desktop-up {
		width: 150px;
	}
	@include for-big-desktop-up {
		width: 200px;
		&.scrolled {
			width: 150px;
		}
	}
}

.main-nav {
	display: none;
	a {
		text-decoration: none;
		text-transform: uppercase;
		@include sans-serif;
		padding: 0 .5rem;
		display: inline-block;
		color: #333;
	}
	@include for-tablet-landscape-up {
		display: block;
	}
}

.search-toggle, .menu-toggle {
	margin-left: .5rem;
	color: #333;
}

.menu-toggle {
	@include for-tablet-landscape-up {
		display: none;
	}
}

main {
	margin-top: 1rem;
	@include for-desktop-up {
		margin-top: 88px
	}
	@include for-big-desktop-up {
		margin-top: 101px;
	}
}

.card {
	position: relative;
	@include gradientline;
	padding-bottom: 1rem;
	img {
		max-width: 100%;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	&__categories {
		@include sub-size;
		@include sans-serif;
		text-transform: uppercase;
		color: #555;
		margin-bottom: .5rem;
		a {
			color: #555;
		}
	}
	&__thumb {
		a {
			display: inline-block;
			@include gradient;
		}
		img {
			@include transition;
		}
		&:hover {
			img {
				opacity: .5;
			}
		}
	}
	&__title {
		@include base-size;
		margin-bottom: 0;
	}
	&__meta {
		font-style: italic;
		@include sub-size;
		color: #555;
		margin-top: .5rem;
	}
	&__excerpt {
		margin-bottom: 0;
		display: none;
	}
	@include card-horizontal;

	@include for-tablet-landscape-up {
		&__title {
			@include h6-size;
		}
		&__excerpt {
			display: block;
		}
	}
}

.hero {
	.card {
		@include card-vertical;
		padding-bottom: 2rem;
		margin-bottom: 0;
		&__excerpt {
			display: block;
		}
		&__title {
			@include h5-size;
		}
		@include for-tablet-landscape-up {
			@include card-horizontal;
			margin-bottom: 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			&__thumb {
				grid-column: span 2;
				a {
					height: 100%;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		@include for-desktop-up {
			&__title {
				@include h2-size;
			}
		}
	}
}

.updates {
	@include for-desktop-up {
		&__container {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 2rem;
		}
		.card {
			@include card-vertical;
			margin-top: 0;
		}
	}
}

.section {
	&__head {
		h1 {
			@include base-size;
			text-transform: uppercase;
			color: $blue;
		}
	}
}

.issues {
	background: #333;
	&__container {
		padding: 3rem 1rem 4rem
	}
	.section__head {
		h1 {
			margin-top: 0;
			color: #fff;
		}
		color: #fff;
	}
}

.swiper {
	width: 100%;
	height: 100%;
	&-slide {
		width: 40%;
		opacity: .6;
		@include transition;
		position: relative;
		overflow: hidden;
		&__text {
			position: absolute;
			padding-top: 3rem;
			bottom: -1rem;
			opacity: 0;
			@include transition;
			background: rgb(0,0,0);
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
			h2 {
				@include base-size;
				@include serif;
				padding: 1rem;
				margin: 0;
			}
		}
		img {
			max-width: 100%;
		}
		a {
			display: inline-block;
			color: #fff;
			text-decoration: none;
		}
		&:hover {
			opacity: 1;
			.swiper-slide__text {
				opacity: 1;
				bottom: 0;
			}
		}
		@include for-tablet-landscape-up {
			width: 30%;
		}
		@include for-desktop-up {
			width: 20%;
		}
	}
	.swiper-button-next, .swiper-button-prev {
		color: #fff;
	}
}

.oped-cult-container {
	@include for-desktop-up {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}
}

.editorial {
	margin-bottom: 1rem;
	.card {
		@include card-vertical;
		&__categories {
			display: none;
		}
		@include for-tablet-landscape-up {
			@include card-horizontal;
			margin-bottom: 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			&__text {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}
			&__thumb {
				grid-column: 2 / 4;
				a {
					height: 100%;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		@include for-desktop-up {
			@include card-vertical;
		}
	}
	
}

.columncard {
	@include gradientline;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	gap: 1rem;
	display: flex;
	&__container {
		margin-bottom: 2rem;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	img {
		max-width: 100%;
	}
	&__thumb {
		flex: 0 0 50px;
		a {
			display: inline-block;
			border-radius: 100rem;
			overflow: hidden;
		}
	}
	&__title {
		@include base-size;
		margin-bottom: 0;
		font-weight: normal;
	}
	&__info {
		@include sub-size;
		a {
			display: block;
			color: #333;
		}
	}
	&__columnist {
		font-weight: bold;
	}
	&:after {
		opacity: .1;	
	}
	@include for-tablet-portrait-up {
		margin-bottom: 0;
		&__container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
			.section__head {
				grid-column: 1 / -1;
			}
		}
	}
}

.cult {
	&__container {
		display: grid;
	}
	.card {
		&:after {
			opacity: .1;	
		}
	}
}

.talasalitaan {
	.card {
		@include card-vertical;
		&__meta {
			display: none;
		}
		&__excerpt {
			display: none;
		}
	};
}

.mainfooter {
	position: relative;
  &::before {
		content: "";
		position: absolute;
		top: 0;
		width: 100%;
		left: 0;
		height: 2px;
		@include gradient;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		height: 6px;
		@include gradient;
	}
}

.socials {
	&__container {
		text-align: center;
		border-bottom: 1px solid;
	}
	&__logo {
		width: 150px;
		margin: 0 auto 1rem;
		img {
			max-width: 100%;
		}
	}
	&__nav {
		a {
			display: inline-block;
			&:hover {
				.socials__icon {
					fill: $red;
					transform: translateY(-4px);
				}
			}
		}
	}
	&__icon {
		fill: #333;
		width: 50px;
		height: 50px;
		@include transition;
	}
	@include for-tablet-portrait-up {
		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__logo {
			margin: 0;
		}
	}
}

.footernav {
	@include sans-serif;
	@include sub-size;
	a {
		color: #333;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	ul {
		flex-direction: column;
	}
	@include for-tablet-portrait-up {
		ul {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	@include for-tablet-landscape-up {
		&__container {
			display: flex;
			justify-content: space-between;
		}
		ul {
			li {
				margin-right: 1rem;
			}
		}
	}
}

.quirium {
	text-align: center;
	display: flex;
	gap: 1rem;
	a {
		display: inline-block;
		margin: 1rem auto;
		height: 75px;
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
	@include for-tablet-portrait-up {
		justify-content: end;
		a {
			margin: 1rem 0 0;
		}
	}
}

.legal {
	background: #333;
	@include sans-serif;
	color: #fff;
	@include sub-size;
	text-align: right;
	&__container {
		padding: 1rem;
	}
	p {
		margin: 0;
	}
}

.singleart {
	img {
		max-width: 100%;
	}
	&__container {
		max-width: 800px;
		margin: auto;
	}
	&__header {
		&__container {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			text-align: center;
		}
		.category-link {
			@include sub-size;
			color: #333;
			@include sans-serif;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	&__meta {
		@include sub-size;
		font-style: italic;
		color: #333;
	}
	&__thumb {
		@include for-tablet-landscape-up {
			margin: 0 -2rem;
		}
	}
	.drop::first-letter {
		float: left;
		@include h1-size;
		font-weight: bold;
		padding-top: .5rem;
		color: $red;
	}
	&__content {
		blockquote {
			text-align: center;
			border-top: 1px solid #efefef;
			border-bottom: 1px solid #efefef;
			font-style: italic;
			@include h6-size;
			margin: 2rem 0;
			padding: 2rem;
			position: relative;
			color: #666;
			p {
				position: relative;
				z-index: 2;
			}
			&::before {
				content: '"';
				font-size: calc((var(--h1-size) * var(--scale)) * var(--scale) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
				position: absolute;
				left: 1rem;
				top: 1rem;
				line-height: 1;
				color: #efefef;
				z-index: 1;
			}
			&::after {
				content: '"';
				font-size: calc((var(--h1-size) * var(--scale)) * var(--scale) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
				position: absolute;
				bottom: 0;
				right: 1rem;
				line-height: 0;
				color: #efefef;
				z-index: 1;
			}
		}
		h2 {
			@include base-size;
			text-transform: uppercase;
			margin-top: 2rem;
		}
		.wp-block-image {
			margin: 2rem 0;
			background: #efefef;
			padding: 1rem;
			@include for-tablet-landscape-up {
				margin: 2rem -1rem;
			}
			figcaption {
				@include sub-size;
				color: #555;
				margin-bottom: 0;
				@include sans-serif;
			}
		}
	}
}

.post-template-template-alternate {
	.singleart {
		&__header {
			&__container {
				@include for-tablet-landscape-up {
					height: 50vh;
					flex-direction: row-reverse;
					gap: 1rem;
					align-items: center;
					max-width: 948px;
					> div {
						flex: 0 0 50%;
					}
					.singleart__thumb {
						margin: 0;
						height: 100%;
						img {
							height: 100%;
							object-fit: cover;
						}
					}
				}
				@include for-desktop-up {
					max-width: 1248px;
					height: 65vh;
				}
				@include for-big-desktop-up {
					max-width: 1600px;
					height: 80vh;
				}
			}
		}
	}
}